.tally {
  margin-top: 30px;

  &__item {
    align-items: center;
    background: rgba(255, 255, 255, .75);
    display: flex;
    margin-bottom: 1px;
    padding: 15px 40px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-family: 'futuramedium';
      text-transform: uppercase;
      width: 10em;
    }

    .tally-img-wrap {

      img {
        display: block;
      }
    }
  }
}