.tally {
  margin-top: 30px;

  &__item {
    align-items: center;
    background: rgba(255, 255, 255, .75);
    display: flex;
    margin-bottom: 1px;
    padding: 20px 40px;

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-family: 'futuramedium';
      padding-right: 20px;
      text-transform: uppercase;
    }
  }
}