<div *ngIf="!isFetching" class="tally">
  
  <ul class="tally__list">
    <li class="tally__item">
      <span>Bianca</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ biancaWins }}.png" alt=""></div>
    </li>
    <li class="tally__item">
      <span>Brett</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ brettWins }}.png" alt=""></div>
    </li>
    <li class="tally__item">
      <span>Dave</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ daveWins }}.png" alt=""></div>
    </li>
    <li class="tally__item">
      <span>Dom</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ domWins }}.png" alt=""></div>
    </li>
    <li class="tally__item">
      <span>Sam</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ samWins }}.png" alt=""></div>
    </li>
    <li class="tally__item">
      <span>Sissel</span>
      <div class="tally-img-wrap"><img src="assets/images/tally-{{ sisselWins }}.png" alt=""></div>
    </li>
  </ul>

</div>