// CSS Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
// end reset

// Fonts
@font-face {
  font-family: 'futuralight';
  src: url('/assets/fonts/futura_light_bt-webfont.woff2') format('woff2'),
       url('/assets/fonts/futura_light_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futuramedium';
  src: url('/assets/fonts/futura_medium_bt-webfont.woff2') format('woff2'),
       url('/assets/fonts/futura_medium_bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
// end fonts

body {
  background: url(/assets/images/oscar-bg-01.jpg) no-repeat center;
  background-size: cover;
  font-family: 'futuralight';
  min-height: 100vh;
}

.wrapper {
  align-items: center;
  background: rgba(0, 0, 0, .65);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

header {
  margin-top: 20px;

  h1 {
    color: #fff;
    font-size: 1.15em;
    text-align: center;

    span {
      display: block;
      background: url(/assets/images/logo-01.png) no-repeat;
      height: 48px;
      font-size: 0;
      margin: 0 auto;
      width: 166px;
    }
  }
}

.fetching-data {
  align-items: center;
  background: #fff;
  color: #b7a064;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100vw;

  img {
    display: block;
    margin-bottom: 10px;
    width: 130px;
  }
}

button {
  background: #b6a165;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: 'futuramedium';
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
}

form {
  background: rgba(255, 255, 255, .75);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  
  div {
    padding: 15px 0;

    &:not(:last-child) {
      border-bottom: 1px dotted gray;
    }
  }

  label {
    display: block;
    margin-bottom: 3px;
  }

  select {
    background: #fff;
    display: block;
    font-size: 16px;
    width: 100%;
  }
}