.welcome-msg {
  background: rgba(255, 255, 255, .75);
  padding: 20px;
  margin: 20px 0;

  p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.results-card-wrapper {
  display: flex;
  overflow-x: scroll;
  margin: 30px 0;
  scroll-snap-type: x mandatory;
  width: 100vw;

  @media (min-width: 1840px) {
    justify-content: center;
  }
}

.results-card {
  background: rgba(255, 255, 255, .75);
  border-radius: 20px;
  flex: none;
  margin-right: 20px;
  padding: 20px;
  scroll-snap-align: center;
  width: 290px;

  &:last-child {
    margin-right: 0;
  }

  &__name {
    border-bottom: 1px dotted gray;
    font-family: 'futuramedium';
    padding: 5px;
    text-transform: capitalize;
  }

  &__item {
    display: flex;
  }

  &__verdict {
    border-bottom: 1px dotted gray;
    border-right: 1px dotted gray;
    padding: 5px;

    em {
      font-style: normal;
      visibility: hidden;
    }
  }

  &__entry {
    border-bottom: 1px dotted gray;
    flex-grow: 1;
    padding: 5px;

    p:nth-child(2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 208px;
    }
  }

  &__category {
    font-family: 'futuramedium';
  }
}

.results-card-wrapper--winners {
  justify-content: center;
}