.deadline-expired {
  background: #fafafa url(/assets/images/nedry.gif) no-repeat center;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.welcome-msg {
  background: rgba(255, 255, 255, .75);
  padding: 20px;
  margin: 20px 0;

  p:not(:last-child) {
    margin-bottom: 20px;
  }
}