<div *ngIf="deadlineExpired" class="deadline-expired"></div>

<div *ngIf="!deadlineExpired">

  <div>
    <h2>Welcome, {{ screenName }}!</h2>
  </div>
  
  <div *ngIf="isFetching">Fetching data...</div>

  <p *ngIf="loadedPosts.length < 1 && !isFetching">Get your votes in below!</p>

  <p *ngIf="loadedPosts.length >= 1 && !isFetching">
    Your votes are below!
    <br>
    Come back and change them any time before Sunday Feb 9th 20:00 🇺🇸 / Monday Feb 10th 01:00 🇬🇧 / 02:00 🇳🇴
    <br><br>
    <button routerLink="/results">Click here to view the results!</button>
  </p>

  <form (ngSubmit)="onSubmit(fsubmit)" #fsubmit="ngForm" *ngIf="!isFetching">
    <fieldset>
      <legend *ngIf="loadedPosts.length < 1">Submit Votes:</legend>
      <legend *ngIf="loadedPosts.length >= 1">Update Votes:</legend>
      <div>
        <label for="picture">Best Picture</label>
        <select id="picture" ngModel name="picture" [(ngModel)]="loadedPosts[0] && loadedPosts[0].picture">
          <option *ngFor="let option of categoryPicture">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="director">Best Director</label>
        <select id="director" ngModel name="director" [(ngModel)]="loadedPosts[0] && loadedPosts[0].director">
          <option *ngFor="let option of categoryDirector">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="actor">Best Actor</label>
        <select id="actor" ngModel name="actor" [(ngModel)]="loadedPosts[0] && loadedPosts[0].actor">
          <option *ngFor="let option of categoryActor">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="actress">Best Actress</label>
        <select id="actress" ngModel name="actress" [(ngModel)]="loadedPosts[0] && loadedPosts[0].actress">
          <option *ngFor="let option of categoryActress">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="supportingActor">Best Supporting Actor</label>
        <select id="supportingActor" ngModel name="supportingActor" [(ngModel)]="loadedPosts[0] && loadedPosts[0].supportingActor">
          <option *ngFor="let option of categorySupportingActor">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="supportingActress">Best Supporting Actress</label>
        <select id="supportingActress" ngModel name="supportingActress" [(ngModel)]="loadedPosts[0] && loadedPosts[0].supportingActress">
          <option *ngFor="let option of categorySupportingActress">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="originalScreenplay">Best Original Screenplay</label>
        <select id="originalScreenplay" ngModel name="originalScreenplay" [(ngModel)]="loadedPosts[0] && loadedPosts[0].originalScreenplay">
          <option *ngFor="let option of categoryOriginalScreenplay">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="adaptedScreenplay">Best Adapted Screenplay</label>
        <select id="adaptedScreenplay" ngModel name="adaptedScreenplay" [(ngModel)]="loadedPosts[0] && loadedPosts[0].adaptedScreenplay">
          <option *ngFor="let option of categoryAdaptedScreenplay">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="animatedFeature">Best Animated Feature</label>
        <select id="animatedFeature" ngModel name="animatedFeature" [(ngModel)]="loadedPosts[0] && loadedPosts[0].animatedFeature">
          <option *ngFor="let option of categoryAnimatedFeature">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="visualEffects">Best Visual Effects</label>
        <select id="visualEffects" ngModel name="visualEffects" [(ngModel)]="loadedPosts[0] && loadedPosts[0].visualEffects">
          <option *ngFor="let option of categoryVisualEffects">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="costumeDesign">Best Costume Design</label>
        <select id="costumeDesign" ngModel name="costumeDesign" [(ngModel)]="loadedPosts[0] && loadedPosts[0].costumeDesign">
          <option *ngFor="let option of categoryCostumeDesign">{{ option }}</option>
        </select>
      </div>
      <div>
        <label for="makeupAndHairstyling">Best Makeup and Hairstyling</label>
        <select id="makeupAndHairstyling" ngModel name="makeupAndHairstyling" [(ngModel)]="loadedPosts[0] && loadedPosts[0].makeupAndHairstyling">
          <option *ngFor="let option of categoryMakeupAndHairstyling">{{ option }}</option>
        </select>
      </div>
    </fieldset>
    <div>
      <button *ngIf="loadedPosts.length < 1" type="submit">Submit Votes</button>
      <button *ngIf="loadedPosts.length >= 1" type="submit">Update Votes</button>
    </div>
  </form>

</div>