<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <div [ngSwitch]="samsSwitchValue">
        <div *ngSwitchCase="10">10!</div>
        <div *ngSwitchCase="20">20!</div>
        <div *ngSwitchCase="30">30!</div>
        <div *ngSwitchDefault>Default!</div>
      </div>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{even: even % 2 === 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'blue' : 'transparent'}">
            {{ even }}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight (mouseenter)="samFunc()">Style me with a basic directive!</p>
      <p appBetterHighlight (click)="samFunc2()" [defaultColor]="'orange'" [highlightColor]="'teal'">Style me with a BETTER directive!</p>
    </div>
  </div>
</div>
